{
  "speechEndpoint": {
    "type": "String",
    "value": "__SPEECH_ENDPOINT__"
  },
  "speechLanguage": {
    "type": "String",
    "value": "__SPEECH_LANGUAGE__"
  },
  "blobServiceUri": {
    "type": "String",
    "value": "__STORAGE_BLOB_ENDPOINT__"
  },
  "managedIdentityResourceId": {
    "type": "String",
    "value": "__AZURE_MANAGED_IDENTITY_RESOURCE_ID__"
  }
}
